<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Éditeur de profil</title>
</head>
<body>
    <!-- EN-TÊTE -->
    <header>
        <!--- Logo du site -->
        <img class="logo" src="img/logo.png">
        <!-- Barre de navigation -->
        <nav>
            <!-- Liens des pages -->
            <div class="main_pages">
                <p>Éditeur de profil</p>
            </div>
        </nav>
    </header>

    <!-- CONTENU PRINCIPAL -->
    <main>
        <h1><%= userfullname %></h1>
        <h2><%= useremail %></h2>
        <h2><%= userdepartment %></h2>
        <div class="container">
        <form action="" method="post">
            <div class="option-component">
                <p>Téléphone:</p>
                <input maxlength="10" name="userTel" value="<%= usertelephone %>" required>
            </div>

            <div class="option-component">
                <p class="mobile-shrink">Téléphone mobile:</p>
                <input maxlength="10" name="userTelMobile" value="<%= usermobile %>" required>
            </div>

            <div class="option-component">
                <p>Fonction:</p>
                <input name="userTitle" value="<%= usertitle %>" required>
            </div>

            <input class="sendform" type="submit">
        </form>
        </div>
    </main>
</body>
</html>