<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Éditeur de profil</title>
</head>
<body>
    <!-- EN-TÊTE -->
    <header>
        <!--- Logo du site -->
        <img class="logo" src="img/logo.png">
        <!-- Barre de navigation -->
        <nav>
            <!-- Liens des pages -->
            <div class="main_pages">
                <p>Éditeur de profil</p>
            </div>
        </nav>
    </header>

    <!-- CONTENU PRINCIPAL -->
    <main>
        <a href="/logout">❌ Déconnexion</a>
        <br>
        <a href="https://srvweb.saint-james.fr:3001">🌍 Retourner sur l'intranet</a>
        <h1><%= userfullname %></h1>
        <h2><%= useremail %></h2>
        <h2><%= userdepartment %></h2>
        <div class="container">
        <form action="" method="post">
            <div class="option-component">
                <p>Téléphone:</p>
                <input name="userTel" value="<%= usertelephone %>">
            </div>

            <div class="option-component">
                <p class="mobile-shrink">Téléphone mobile:</p>
                <input class="smaller" name="userTelMobile" value="<%= usermobile %>">
            </div>

            <div class="option-component">
                <p class="mobile-shrink">Numéro abrégé:</p>
                <input maxlength="3" name="userAbr" value="<%= userabr %>">
            </div>

            <div class="option-component">
                <p>Fonction:</p>
                <input class="longer" name="userTitle" value="<%= usertitle %>">
            </div>

            <input class="sendform" type="submit">
        </form>
        </div>

        <div class="scrolling-image-container">
            <div class="scrolling-image"></div>
        </div>
    </main>

    <script src="js/retromode.js"></script>
</body>
</html>